.navbar-container {
     width: 100%;
     height: 90px;
     background: hsl(195, 100%, 9%);
     display: flex;
     justify-content: space-between;
     align-items: center;

     .navbar-title {
          width: 100%;
          margin-left: 2em;
     }

     .navbar-links {
          width: 100%;

          display: flex;
          justify-content: end;
          a {
               text-decoration: none;
               padding-right: 4em;

               &:hover {
                    transition: all 0.2s ease-in-out;
                    font-size: 600;
                    color: hsl(197, 40%, 65%);
               }
          }
     }
}

.active {
     font-size: 600;
     color: hsl(197, 40%, 65%);
}

.navbar-login-btn {
     background: none;
     margin-right: 4em;
     border: none;

     &:hover {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 600;
          color: hsl(197, 40%, 65%);
     }
}
